body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
}

/*
--------------------------
Mobile navbar
--------------------------
*/
.mobileNavBar{
  background-color: #f9f9f9;
  border-bottom: solid 0.2em rgba(0,0,0,0.08);
  width: 100%;
  display: block;
}

#logo {
  height: 3.5em;
  margin: 0.6em;
  margin-left: 1.5em;
}

.hamburgerBoks{
  background-color: #f9f9f9;
  padding: 0.5em;
  position: fixed;
  right: 0;
  margin-right: 1em;
  margin-top:  1em;
  border-radius: 0.3em;
  padding-bottom: 0.2em;
}

.hamburgerLine{
  width: 2.3em;
  height: 0.45em;
  margin-bottom: 0.3em;
  background-color: #359b3c;
  border-radius: 15px;
}

.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 7em;
}

.nav a{
    padding: 0.5em;
    text-decoration: none;
    font-size: 50px;
    color: #333;
    display: block;
    transition: 0.2s;
    text-align: center;
}

.hoverFarge a:hover{
  color: #fff;
  background-color: #359b3c;
}

#closeBTN {
  position: absolute;
  top: -0.4em;
  right: 0.05em;
  font-size: 50px;
}


.burgern{
  position: relative;
  float: right;
  margin-right: 1.5em;
  margin-top:  1.5em;
  font-size: 2.3em;
  cursor: pointer;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
--------------------------
Introduction to app with hero shot and links to app download
--------------------------
*/

.heroSection {
  background-color: #9ae79e;
  background-image: linear-gradient(#d4fc79, #96e6a1);
  overflow: hidden;
}

.heroImage {
  width: 10em;
  margin: auto;
  margin-top: 2em;
}

.heroText {
  background-color: #f9f9f9;
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 1em 0 1em 0;
  margin: 2em;

  /* margin: auto;
  margin-top: 2em;
  margin-bottom: 2em; */
}

.storeLinks  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.storeLinks li {
  margin: 1em;
}

.storeLinks img {
  width: 10em;
}

/*
--------------------------
Informational card section
--------------------------
*/

.infoBoxSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 1440px;
  margin: auto;
}

.infoBox {
  background-color: #f9f9f9;
  margin: auto;
  margin: 2em;
  border-radius: 0.5em;
  overflow: auto;
  color: #333;
  max-width: 25em;
  min-width: 18em;
}

.infoBoxTitle {
  margin: 0;
  width: 100%;
  float: left;
  color: #303030;
}

.infoBoxTitle h3 {
  background-color: #f9f9f9;
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0.3em;
}

.infoBoxText {
  float: right;
  margin: 1em;
  font-weight: 600;
}

.infoBoxImage {
  float: left;
  width: 100%;
  height: 10em;
  border-radius: 0.25em;
  background-image: url('../media/stockphoto.jpg');
  background-size: cover;
}

#connectWithFriends {
  background-image: url('../media/connectWithFriends.jpg');
  background-size: cover;
  background-position: bottom;
}

/*
--------------------------
For laptop-sized screens
--------------------------
*/
@media screen and (min-width: 1400px) {
  .hamburgerBoks {
    visibility: hidden;
  }

  #logo {
    margin-left: 7em;
  }
}

.buttomLine{

  position: relative;
      left: 0;
      bottom: 0;
z-index: -100;
      width: 100%;
      background-color: grey;
      text-align: center;
}

.buttomLine:after{
  transform-origin: top left;
  transform: skewY(-3deg);
}


.boksKnapp{
  transform: skewY(3deg);
}

/*.bottomLineUnder{
  margin-top: 3em;
  background-color: grey;
  left: 0;
  bottom: 0;
  height: 6em;
  width: 100%;
} */

.boksKnapp{
  margin: 0.5em;
  text-align: center;
  text-decoration-style: solid;
  font-weight: bolder;

}

#tekstØverst{
  color: white;
font-size: 17px;
  text-decoration: none;
  position: center;
  font-weight: bolder;

}

.boksKnapp:hover {
      color: #359b3c;
      text-decoration: none;
 }
